.card {
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
  padding: 22px 20px 15px;
}

.card__image {
  margin-bottom: 11px;
}

.card__title {
 font-weight: 700;
 color: @black;
}

.card__description {
  font-weight: 400;
  color: @basic-gray;
}

.card__like-counter {
  font-weight: 700;
}
