@media (min-width:@desktop-width) {
  .contacts-wrapper {
    flex-direction: row;
    justify-content: space-between;
   }
}

.item-contacts {
  @media (min-width:@desktop-width) {
    flex: 1;
  }
}


.item-contacts__label {
  flex-direction: column;
  text-align: left;
  @media (min-width:@desktop-width) {
    flex-direction: row;
  }
}

/* .item-contacts__input {
  @media (min-width:@desktop-width) {
    width: 90%;
  }
} */


/* .item-contacts__input {
  flex: 1;
} */
