.contacts {
  @media (min-width:@tablet-width) {
    padding-top: 80px;
  }
  @media (min-width:@desktop-width) {
    padding-top: 70px;
  }

}

@media (min-width:@desktop-width) {
  .contacts-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 78px;
  }
}

.item-contacts {
  @media (min-width:@desktop-width) {
    flex: 1;
    position: relative;
  }
}


.item-contacts__label {
  flex-direction: column;
  text-align: left;

  @media (min-width:@desktop-width) {
    flex-direction: row;
  }
}

/*Сокрытие части текста в span-элементе*/

@media (min-width:@desktop-width) {

  /*Не уверен в правильности выполнения подобного эффекта но это пока всё ,что пришло в голову*/
  /* .contacts-wrapper .item-contacts:nth-of-type(1) .item-contacts__label-text::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 30px;
    background-color: @basic-white;
  } */

  .item-contacts__label-text {
    margin-right: 15px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
  }

@media (min-width:@desktop-width) {
  .item-contacts__label-text-word {
    display: none;
  }
}


  /* .contacts-wrapper .item-contacts:nth-of-type(1) .item-contacts__label {
    left: -83px;
  } */
}

/* .item-contacts__input {
  @media (min-width:@desktop-width) {
    width: 258px;
  }
} */

.item-contacts__label-mail,
.item-contacts__label-tel {
  position: relative;
}

.item-contacts__label-mail::before {
  content: url(../../img/mail-ico.svg);
  position: absolute;
  top: 26px;
  right: 0;
  width: 58px;
  height: 58px;

  @media (min-width:@desktop-width) {
    top: 0;
  }
}

.item-contacts__label-tel::before {
  content: url(../../img/mobile-ico.svg);
  position: absolute;
  top: 26px;
  right: 0;
  width: 58px;
  height: 58px;

  @media (min-width:@desktop-width) {
    top: 0;
  }
}


/* .item-contacts__input {
  flex: 1;
} */
