@media (min-width:@desktop-width) {
  .contacts-wrapper {
    flex-direction: row;
    justify-content: space-between;
   }
}

.item-contacts {
  @media (min-width:@desktop-width) {
    flex: 1;
  }
}


.item-contacts__label {
  flex-direction: column;
  text-align: left;
  @media (min-width:@desktop-width) {
    flex-direction: row;
  }
}

/*Сокрытие части текста в span-элементе*/

@media (min-width:@desktop-width) { /*Не уверен в правильности выполнения подобного эффекта но это пока всё ,что пришло в голову*/
  .contacts-wrapper .item-contacts:nth-of-type(1) .item-contacts__label-text::before  {
    content: "";
    position: absolute;
    width: 90px;
    height: 30px;
    background-color: @basic-white;
  }
  .item-contacts__label-text {
    margin-right: 15px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
  }
  .contacts-wrapper .item-contacts:nth-of-type(1) .item-contacts__label {
    position: absolute;
    left: 70px;
  }
}

.item-contacts__input {
  @media (min-width:@desktop-width) {
    width: 258px;
  }
}


/* .item-contacts__input {
  flex: 1;
} */
