.impressions-item__label {
  text-transform: none;
  justify-content: normal; //пока так оставил,  в дальнейшей вёрстке мелких декоративными элементами доработаю
}

.impressions-item__input {
  /* position: absolute; //не знаю как лучше скрыть инпут, остановился на display: none
  z-index: -1;
  opacity: 1;
 */
 display: none;
}

.impressions-item__option {
  display: inline-flex;
  align-items: center;
  position: relative;
}


.impressions-item__option::before {
  content: "";
  width: 53px;
  height: 53px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: @wrap-page;
  border: none;
 }

 .impressions-item__option:hover::before {
  background-color: @dis-white;
 }

 .impressions-item__option:active::before {
  background-color: @gray;
 }

 .impressions-item__option:active::after {
  opacity: 0.3;
 }

 .impressions-item__input:checked+span::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 18px;
  width: 18px;
  height: 18px;
  background-color: @basic-gray;
  border-radius: 50%;
}
