.introduce__title {
  @media (min-width:@tablet-width) {
    &::before,
    &::after {
      display: none;
    }
  }
}

.introduce-item__input:hover:not(:focus) {
  background-color: @dis-white;
}

.introduce-item__input:focus{
  background-color: @basic-white;
  border: 4px solid @dis-white;
  outline: none;

}


