.attractions-item {
  text-transform: none;
  @media (min-width:@tablet-width) {
    flex: 50%;
  }

}

.attractions-item__input {
  display: none;
}

.attractions-item__option {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.attractions-item__option::before {
  content: "";
  width: 51px;
  height: 51px;
  margin-right: 25px;
  background-color: @wrap-page;
  border-radius: 7px;
}

.attractions-item__option:hover::before {
  background-color: @dis-white;
 }

 .attractions-item__option:active::before {
  background-color: @gray;
 }

 .attractions-item__option:active::after {
  opacity: 0.3;
 }

.attractions-item__input:checked + span::after {
  content: url(../../img/tick.svg);
  position: absolute;
  width: 23.13px;
  height: 16.23px;
  left: 17px;
}
