.item-impressions__label {
  text-transform: none;
  justify-content: normal; //пока так оставил,  в дальнейшей вёрстке мелких декоративными элементами доработаю
}

.item-impressions__input {
  position: absolute;
  z-index: -1;
  opacity: 1;

}

.item-impressions__option {
  display: inline-flex;
  align-items: center;
  position: relative;
}


.item-impressions__option::before {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: @wrap-page;
  border: none;
 }

 .item-impressions__input:checked+span::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 16px;
  height: 16px;
  background-color: @basic-gray;
  border-radius: 50%;
}
