.item-emotions {
  display: flex;
  flex-wrap: wrap;
}

.item-emotions__textarea {
  width: 100%;
  margin-bottom: 55px;
  padding: 13px 21px 29px;
  border: none;
  background-color: @wrap-page;
  font-family: PT Sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  &:hover:not(:focus) {
    background-color: @dis-white;
  }

  &:focus{
    background-color: @basic-white;
    border: 4px solid @dis-white;
    outline: none;

  }
}

::placeholder {
  color: @black;
}

.item-emotions__button {
  width: 100%;
   @media (min-width:@tablet-width) {
    width: 50%;
  }

 }

.item-emotions__label {
  display:none;
   @media (min-width:@tablet-width) {
    display: block;
    width: 50%;
    text-align: right;
 }
}
