.location {
  background-color: @basic-white;
  display: flex;

  @media (min-width:@tablet-width) {
    flex-direction: column;
   }
}

.location__item-map {
  display: flex;

  @media (min-width:@tablet-width) {
    flex-direction: column;
   }
}
