.main-nav {
  color: @black;
  min-width: 320px;
  text-align: center;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 56px;
  background-color: @blue;

  //мелкийц декоративный элемент граница между элементами размером по 1px НЕ ЗАБЫТЬ

  @media (min-width:@tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    background-color: @basic-white;
    margin-bottom: 0;
  }
}

.main-nav__list-item a {
  display: block;
  color: @basic-white;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight:700;
  font-size: 18px;
  line-height: 40px;
  border-top: 1px solid fade(@basic-white, 20%);
  border-bottom: 1px solid fade(@black, 20%);

  &:hover,
  &:focus {
    background-color: @deep-blue;
  }

  &:disabled {
    background-color: @very-deep-blue;
    color: fade(@basic-white, 30%);
  }
  @media (min-width:@tablet-width) {
    color: @black;
    width: 153px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    border: none;

    &:hover,
    &:focus {
      background-color: @basic-white;
      color: @blue;
    }

    &:active {
      background-color: @basic-white;
      color: fade(@black, 30%);
    }
  }

  @media (min-width:@desktop-width) {
    width: 239px;
  }
}

@media (min-width:@tablet-width) {
  .main-nav__list-item:nth-child(2) {
    margin-right: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  bottom: 17px;
  display: block;
  width: 22px;
  height: 22px;
  background-color: @basic-white;
  cursor: pointer;
  border: none;

  @media (min-width:@tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__list-item {
  display: block;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 4px;
  background-color: @blue;
  box-shadow: 0 9px 0 0 @blue , 0 18px 0 0 @blue;
  }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@blue, 60%);
  box-shadow:
    0 9px 0 0 fade(@blue, 60%),
    0 18px 0 0 fade(@blue, 60%);
}

@media (max-width:@mobile-width-only) {
  .main-nav--closed .main-nav__list-item {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 17px;
  background-color: @blue;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 24px;
    height: 4px;
    background-color: @basic-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  &:active::before,
  &:active::after {
    background-color: fade(@basic-white, 60%);
  }
}
