.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: @basic-white;
}

.modal-failure { /* Чтоб не отвлекало */
  display: none;
}

.modal__text-wrapper {
  padding: 30px 38px 21px;
}

.modal__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.modal__description {
  font-size: 14px;
  line-height: 24px;
}

.modal__wrapper-btn {
  padding: 20px;
  background-color: @wrap-page;
}

.modal__button {
  padding: 18px 61px 14px;
}

/* .failure-block__wrapper-btn {

} */
