.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: @basic-white;
  box-shadow:  0px 7px 15px rgba(0, 0, 0, 0.15);
}

@media (min-width:@tablet-width) {
  .modal-succes {
    width: 640px;
    position: fixed;
        top: calc(50% - 173.5px);
        left: calc(50% - 320px);
  }
}


.modal-failure { /* Чтоб не отвлекало */
  display: none;
}

.modal__text-wrapper {
  padding: 30px 38px 21px;
  @media (min-width:@tablet-width) {
      padding: 54px 98px 51px;
  }
}

.modal__title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  @media (min-width:@tablet-width) {
    font-size: 30px;
  }
}

.modal__description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

.modal__wrapper-btn {
  padding: 20px;
  background-color: @wrap-page;
  @media (min-width:@tablet-width) {
    padding: 44px 91px;
  }
}

.modal__button {
  padding: 18px 61px 14px;
  font-size: 18px;
  @media (min-width:@tablet-width) {
    font-size: 21px;
    /* padding: 18.5px 140px 13.5px; */

  }
}

/* .failure-block__wrapper-btn {

} */
