.modal-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: @basic-white;
}

.modal-block__text-wrapper {
  padding: 40px 41px 22px;
}

.modal-block__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.modal-block__description {
  font-size: 14px;
  line-height: 24px;
}

/* .failure-block__wrapper-btn {

} */
