.page-footer {
  background-color: @basic-white;
  text-align: center;
  padding: 28px 78px 23px;
}

.page-footer__wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width:@tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts__tag {
  font-size: 21px;
  font-weight: 600;
}

.page-footer__copyright {
  max-width: 151px;
  align-self: center;
  font-weight: 400;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
}

.social__list {
  padding: 0;
  list-style: none;
  display: flex;
  width: 151px;
  justify-content: space-between;
}

.social__link {
  display: flex;
  width: 46px;
  height: 48px;
  background-color:@blue;
  align-items: center;
}

.copyright__link {
  display: flex;
  align-self: center;
  color:@black;
}
