.page {
  min-height: 100%;
}

.page__body {
  background-color: @wrap-page;
  color: @black;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1280px;

  @media (min-width:@desktop-width) {
    padding: 0px 40px 0px;
  }
}

