.page-header {
  background-color: @basic-white;
  position: relative;

  @media (min-width:@tablet-width) {
    max-height: 56px;
  }
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
  top: calc(100% - 56px);
}

.page-header__toggle {
  position: absolute;
  right: 5%;
  bottom: 5%;

  @media (min-width:@tablet-width) {
    display: none;
  }
}

