.presentation {
  background-color: @basic-white;
  text-align: center;
  padding: 13% 0 30%;
  @media (min-width:@tablet-width) {
    padding: 8% 0 6%;
  }
  @media (min-width:@desktop-width) {
    padding: 5% 200px 7%;
  }
}

.presentation__title {
  font-size: 18px;
  font-weight: 700;
  @media (min-width:@tablet-width) {
   font-size: 30px;
  }
}

.presentation__description {
  color: @basic-gray;
  line-height: 24px;

}
