.presentation {
  text-align: center;
  font-style: italic;
}

.presentation__title {
  font-size: 18px;
  font-weight: 700;
}

.presentation__description {
  color: @basic-gray;
  line-height: 24px;

}
