.presentation {
  background-color: @basic-white;
  text-align: center;
  font-style: italic;
  @media (min-width:@desktop-width) {
    padding: 0px 200px;
  }
}

.presentation__title {
  font-size: 18px;
  font-weight: 700;
}

.presentation__description {
  color: @basic-gray;
  line-height: 24px;

}
