.promo {
  background-image: url(../../img/back-desktop.jpg.jpg);
  background-repeat: no-repeat;
/*   background-position: center;
  background-size: cover; */
  object-fit: cover;
  background-position: center -40px;
  padding: 90px 0 0;
  text-align: center;
/*   overflow: hidden; */
/*   z-index: -1; */

  @media (min-width:@tablet-width) {
    padding-top: 77px;
    background-position: center;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
}

.promo__pic {
  height: 214px;
  margin-bottom: 28px;
  @media (min-width:@tablet-width) {
     height: 350px;
     margin-bottom: 34px;
  }
  @media (min-width:@desktop-width) {
    margin-bottom: 33px;
  }
}


.promo__tringle {
  background-image: url(../../img/intro-triangle.svg.svg);
  height: 57px;
  object-fit: cover;
  background-position: center;
}

/* .promo__pic {
  @media (min-width:@tablet-width) {
    width: 461px;
    height: 349.97px;
  }

  @media (min-width:@desktop-width) {
    width: 459.5px;
    height: 349.97px;
  }
} */


