.promo {
  display: flex;
  flex-direction: column;
  background-image: url(../../img/back-desktop.jpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 52px 0 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: -1;

  @media (min-width:@tablet-width) {
    padding-top: 95px;
  }
}

.promo__pic {
  height: 39px;
  margin-bottom: 10px;
  @media (min-width:@tablet-width) {
     height: 78px;
     margin-bottom: 60px;
  }
  @media (min-width:@desktop-width) {
    height: 79.8;
     margin-bottom: 63.2px;
  }
}


.promo__tringle {
  background-image: url(../../img/intro-triangle.svg.svg);
  height: 57px;
  object-fit: cover;
  background-position: center;
}

/* .promo__pic {
  @media (min-width:@tablet-width) {
    width: 461px;
    height: 349.97px;
  }

  @media (min-width:@desktop-width) {
    width: 459.5px;
    height: 349.97px;
  }
} */


