.promo {
  background-image: url(../../img/back-desktop.jpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 90px 19px 85px;
  text-align: center;
}

.promo__pic {
  @media (min-width:@tablet-width) {
    width: 461px;
    height: 349.97px;
  }

  @media (min-width:@desktop-width) {
    width: 459.5px;
    height: 349.97px;
  }
}


