.review {
  padding: 0px 20px;
  background-color: @basic-white;
  color: @black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  min-width: 320px;
  @media (min-width:@tablet-width) {
    padding: 0px 60px;
  }
}

.review__form {
  display: flex;
  flex-direction: column;

  @media (min-width:@tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    justify-items: center;

    .review__form-item:nth-child(1) {
      grid-column: ~"2/3";
      grid-row: ~"1/2";
    }

    .review__form-item:nth-child(2) {
      grid-column: ~"-1/1";
      grid-row: ~"2/3";
      justify-self: normal;
    }

    .review__form-item:nth-child(3) {
      grid-column: ~"1/2";
      grid-row: ~"1/2";
    }

    .review__form-item:nth-child(4) {
      grid-column: ~"-1/1";
      grid-row: ~"3/4";
    }

    .review__form-item:nth-child(5) {
      grid-column: ~"-1/1";
      grid-row: ~"4/5";
    }
  }
}



.review__form-item {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

//.form-field padding: 20px 0


.form-field__title {
  margin: 0 0 20px;
  @media (min-width:@tablet-width) {
    font-size: 21px;
  }
}

// .form-field__input-wrapper {
//   display:flex ;
//   flex-direction: column;
//   margin: auto;
// }

.form-field__item {
  margin-bottom: 20px;
}

.form-field__label {
  display: flex;
  flex-wrap: wrap;
}

.form-field__item:last-child {
  margin-bottom: 0;
}

.form-field__label:not(.item-attractions):not(.item-impressions) {
  font-size: 14px;
  font-weight: 400;
}

.introduce-item__input {
  margin-left: 14px;
  flex: 1;
}

.item-contacts__label {
  margin-left: 22px;
  flex-direction: column;
  text-align: left;
}

.item-contacts__input {
  flex: 1;
}

.item-contacts__icon {
  width: auto;
}

.item-impressions {
  text-transform: none;
  justify-content: normal; //пока так оставил,  в дальнейшей вёрстке мелких декоративными элементами доработаю
}

.item-impressions__input {
  margin-right: 26px;
}

.item-attractions {
  text-transform: none;
}

.item-attractions__input {
  margin-right: 29px;
}
