.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.video-player__controls {
  width: 78%;
  height: 111px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -66px;

  @media (min-width:@tablet-width) {
    width: 100%;
    height: 93px;
    bottom: 0;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);

 }
}

.video-player__controls-time-panel {
  padding: 0 3%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 45px;
  display: flex;
  align-items: center;

  @media (min-width:@tablet-width) {
    padding: 0 167px 0 93px;
    background-color: transparent;
  }
}

.video-player__controls-time-panel-stroke {
  width: 100%;
  height: 3px;
  background-color: @basic-white;
  opacity: 0.2;
  position: relative;

 /*  &::before {
    content: '';
    position: absolute; */
}

.video-player__controls-time-panel-toggle {
  width: 13px;
    height: 13px;
    background-color: @basic-white;
    border-radius: 50%;
}

.video-player__controls-options {
  height: 66px;
  background-color: @wrap-page;
  display: flex;
  align-items: center;
  padding: 0 25px;

  @media (min-width:@tablet-width) {
    position: absolute;
    width: 100%;
    background-color: transparent;
    padding: 0 38px;
  }

}

.video-player__btn {
  padding: 0;
  border: none;

  @media (min-width:@tablet-width) {
  background-color: transparent;
  path {
    fill: @basic-white;
  }
 }
}

.video-player__controls-options-returm {
  margin-right: auto;
}

.video-player__controls-options-subtitles {
  margin-right: 30px;
}

.video-player__img {
  object-fit: cover;
}
