.content-header--inner {
  @media (min-width:@tablet-width) {
    padding: 65px 166px;
  }
  @media (min-width:@desktop-width) {
    padding: 113px 382px 55px;
  }
}

.content-header__title--inner {
  @media (min-width:@tablet-width) {
    font-size: 30px;
    text-align: center;
  }
}

.content-header__description--inner {
  @media (max-width:@tablet-width) {
    line-height: 24px;
  }
  @media (min-width:@desktop-width) {
    line-height: 24px;
  }
}
