.content-header--inner {
  @media (min-width:@tablet-width) {
    padding: 65px 167px;
  }
}

.content-header__title--inner {
  @media (min-width:@tablet-width) {
    font-size: 30px;
    text-align: center;
  }
}

.content-header__description--inner {
  @media (min-width:@tablet-width) {
    line-height: 24px;;
  }
}
