.features__list-item--main-feature {
  background-color: @blue;
  color: @basic-white;
  .features__list-item-text-wrapper {
    padding: 55px 12px 39px;
  }
}

.features__list-description--main-feature,
.features__list-title--main-feature,
.features__list-number--main-feature {
  color: @basic-white;
}
